{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>albin-benny-portfolio</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/86e7e0537f.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="header">
    <div class="container">
        <nav>
           <ul id="sidemenu">
            <li><a href="#header">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
            <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
           </ul>
           <i class="fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>
</div>
<div class="header-text">
    <p>Python Developer</p>
    <h1>Hi, I'm <span>Albin Benny</span> From India </h1>
</div>
</div>
<!------------------about---------------->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="{% static 'images/104.jpg' %}" alt="albin_pic"></img>
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>Welcome to the portfolio of Albin Benny, a recent M.Sc in Computational Biology graduate with a passion for coding and a strong foundation in molecular biology and bioinformatics. Albin's journey has been an exciting fusion of science and technology, making him a promising candidate for the role of a Python Developer. This portfolio showcases Albin's skills, projects, and experiences that demonstrate his ability to excel in this role.
                </p>
                <div class="tab-titles">
                    <p class="tab-links active-link " onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>

                </div>
                <div class="tab-contents active-tab " id="skills">
                    <ul>
                        <li><span>Python</span><br>Full stack development</li>
                        <li><span>R</span><br>Statistical analysis</li>
                        <li><span>Bioinformatics</span><br>Omics data science</li>
                       
                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>Altos Technologies</span><br>Python developer</li>
                        <li><span>Scifor Technologies</span><br>Python developer</li>
                        <li><span>OmicsGen Lifesciences</span><br>Project Intern</li>
                       
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>Kannur University</span><br>M.Sc Computational Biology</li>
                        <li><span>Kannur University</span><br>B.Sc Physics</li>
                        
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>

  </div>
  <!------------------Services---------------->
  <div id="services">
    <div class ="container">
        <h1 class="sub-title">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Full stack web  development</h2>
                <p>Front end development<br>
                    back end development</p>
                <a href="#">learn more</a>
            </div>
            <div>
                <i class="fa-solid fa-dna"></i>
                <h2>Bioinformatics</h2>
                <p>Bioinformatics tool development<br>
                    Bioinformatics pipeline designing<br>
                Genomic data science</p>
                <a href="#">learn more</a>
            </div>
            <div>
                <i class="fa-solid fa-chalkboard"></i>
                <h2> Training</h2>
                <p>Python programming<br>
                    NGS data analysis</p>
                <a href="#">learn more</a>
            </div>
        </div>
    </div>
  </div>
  <!------------------portfolio---------------->
<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
           
            <div class="work">
                <img src="{% static 'images/5.jpg' %}">
                <div class="layer">
                    <h3>Mutational analysis of BRCA1&BRCA2 genes in breast&ovarian cancer</h3>
                    <i class="fa-solid fa-up-right-from-square"></i>

                </div>
                
            </div>
            <div class="work">
                <img src="{% static 'images/2.jpg' %}">
                <div class="layer">
                    <h3>ZOMATO data analysis</h3>
                    <i class="fa-solid fa-up-right-from-square"></i>
                    

                </div>
                
            </div>
            <div class="work">
                <img src="{% static 'images/8.jpg' %}">
                <div class="layer">
                    <h3>Neton's rings experiment using LEDs</h3>
                    <i class="fa-solid fa-up-right-from-square"></i>
                </div>
                
            </div>
        </div>
        <a href="#" class="btn">See more</a>
    </div>

</div>
<!-------------contact-->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title" >Contact me</h1>
                <p><i class="fa-solid fa-paper-plane"></i>albin99.in@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i>8921586181</p>
                <div class="social-icons">
                    <a href=" "><i class="fa-brands fa-facebook"></i></a>
                    <a href=" "><i class="fa-brands fa-twitter-square"></i></a>
                    <a href=" "><i class="fa-brands fa-instagram"></i></a>
                    <a href=" "><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <a href ="" class="btn btn2" >Download CV</a>


            </div>
            <div class="contact-right">
                <form>
                    <input type="text" name="Name"  placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="Message"  rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2" >Submit</button>
                </form>

            </div>
    </div>
</div>
  <script>

    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");
    function opentab(tabname) {
        for (tablink of tablinks) {
            tablink.classList.remove("active-link");
        }
        for (tabcontent of tabcontents) {
            tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }

    
  </script>
  <script>
    var sidemenu = document.getElementById("sidemenu");
    function openmenu(){
        sidemenu.style.right="0";

    }
    function closemenu(){
        sidemenu.style.right="-200px";
        
    }
  </script>

</body>  
</html>